.App {
    background-color: #a9c3f7;
    font-family: sans-serif;
    /* height: 100vh; */
  }
  
  .messenger-logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 10px;
  }
  

/*   
  Input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
  } */
  